{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quibusdam, dolorem quaerat sapiente possimus atque nesciunt odio modi eveniet enim assumenda voluptates tempore minus dolor fugit, accusantium sequi debitis earum!
        
        {% if not user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
        {% else %}
        <div class="text-center mt-4">
            <p class="lead">¡Has iniciado sesión!</p>
            <a class="btn btn-primary" href="{% url 'tasks' %}">Ir a Mis Tareas</a>
        </div>
        {% endif %}

    </section>
</main>
{% endblock %}